@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Special+Gothic+Expanded+One&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
    color: white;
}

.cursorPointer{
    content: "";
    width: 3px;
    height:3px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 110;
}

.cursor {
    width: 30px;
    height:30px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    opacity: 0.5;
    pointer-events: none;
    background: none;
    z-index: 110;
}

.nav_logo_container{
    display: flex;
    align-items: center;
    column-gap: 10px;
}



@keyframes cursorAnim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }

}@keyframes cursorPointerAnim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(10);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}

.expand{
    animation: cursorAnim 0.5s forwards;
    
}

.expandPointer{
    animation: cursorPointerAnim 0.5s forwards;
}


a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.header {
    position: fixed;
    height: 6vh;
    min-height: 40px;
    width: 100%;
    padding: 0 20px;
    background-color: black;
    z-index:100;
}

.nav {
    width: 100%;
    margin: 0 auto;
}

.nav, .nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    font-size: 25px;
}

.nav_item{
    column-gap: 25px;
}

.nav_link:hover{
    color: grey;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:black;
}

.nav_item a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav_item a:hover::after{
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

.text_body{
    top: 100px;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 0 50px;
    text-align: center;
}

.ourTeam{
    position: relative;
    width: 100%;
    color: black;
    display: grid;
    justify-content: center;
    text-align: center;
    background: black;
}

.nav_logo_img{
    width: 45px;
    height: 35px;
    background-color: black;
    position: relative;
    
}

.text_body a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.text_body a:hover::after{
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
}

.breaker{
    padding: 20px 0;
    color:white;
}

.main_body{
    position: relative;
    top: 6vh;
    grid-template-columns: 70vw 30vw;
    display: grid;
    height: 94vh;
    width: auto;
    background-color: black;
}
.mainCell{
    background-color: red;
}

.side_container{
    background-color: black;
    grid-template-rows: 47vh 47vh;
    display: grid;
}

.clock{
    background-color: green;
}

.music{
    background-color: blue;
}

.calendar{
    position: relative;
}

.spotify{
    position: relative;
    float: right;
    float: bottom;
    width: auto;
}






.btn-login {
    color: white;
    transition: all 0.3s;
    position: relative;
  }
  .btn-login span {
    transition: all 0.3s;
  }
  .btn-login::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    x: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transform: scale(0.1, 1);
  }
  .btn-login:hover span {
    letter-spacing: 2px;
  }
  .btn-login:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  
  .btn-login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    x: 1;
    transition: all 0.3s;
  }
  .btn-login:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  .loginButton{
    background: none;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    font-size: large;
    width: 80px;
    height: 32.67px;
  }
  